
h1{
	font-family:'Poiret One', cursive;
	font-size: 90px;
	position: relative;
	top: 20px;
	
}

img{
	width: 40px;
	height: 40px;
	position: relative;
	top: 5px;
}
.fundo_icones{
	height: 200px;

}

#upload_imagem{
	width: 250px;
	height: 250px;
	position: relative;
	top: 80px;
	left: 20px;
}

.info{
	position: relative;
	top: 60px;
}
label{
	font-family: 'QuickSand', sans-serif;
	font-size: 15px;
}

#label_foto{
	position: relative;
	top: 80px;
	left: 20px;
	font-size: 15.9px;
}